<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>

  <form action="/madlib">
        <label>Enter a Name</label>
        <select name="person">
          <option value="andy warhol">Andy Warhol</option>
          <option value="endre tot">Andre Tot</option>option>
          <option value="david sedaris">David Sedaris</option>
          <option value="grace hopper">Grace Hopper</option>
          <option value="shirin neshat">Shrin Neshat</option>
          <option value="jim jarmusch">Jim Jarmusch</option>
        </select>

        <label>Enter a Noun</label>
        <select name="noun">
            <option value="revolution">Revolution</option>
            <option value="campbell's soup">campbell's soup</option>
            <option value="humor">humor</option>
            <option value="coffee">coffee</option>
            <option value="zero">zero</option>
            <option value="bug">bug</option>
            <option value="film">film</option>
        </select>
        
        <label>Select a Color</label>
        <select name="color">
          <option value="red">Red</option>
          <option value="magenta">Magenta</option>
          <option value="aqua">Aqua</option>
          <option value="lilac">Lilac</option>
        </select>
        
        <label>Enter an Adjective</label>
        <select name="adjective">
            <option value="spicy">spicy</option>
            <option value="ludacris">ludacris</option>
            <option value="saucey">saucey</option>
            <option value="amourous">amourous</option>
            <option value="hazy">hazy</option>
            <option value="silent">silent</option>
            <option value="surreal">surreal</option>
            <option value="tutyimutyi">tutyimutyi</option>
        </select>

        <input type="submit">
  </form>
  
</body>
</html>